/* Ota-yhteyttä section */

.ota-yhteyttä {
    background-color: #ECF9FF;
    font-family: 'Zen Antique Soft', sans-serif;
    padding: 20px 0;
  }
  
  .ota-yhteyttä h1 {
    font-size: 2.8rem;
    margin-left: 120px;
    margin-right: 120px;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-right: 120px;
  }
  
  .inputs input{

    border-radius: 10px;
    width: 50%;
    padding: 10px;
    border: none;
    box-shadow: none;
    margin-bottom: 1rem;
  }

  .inputs textarea {
    height: 6.5rem;
    border-radius: 10px;
    width: 50%;
    padding: 8px;
    border: none;
    box-shadow: none;
  }
  
  .button-lähetä {
    font-family: 'Zen Antique Soft', sans-serif;
    background-color: rgba(6, 6, 64, 1);
    margin-top: 20px;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 7rem;
    display: block;
    margin-left: 7.5rem;
    margin-bottom: 3rem;
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  .button-lähetä:hover {
    background-color: rgba(6, 6, 64, 0.8); /* Adjust the color on hover */
}

  .message-sent {
    font-family: 'Zen Antique Soft', sans-serif;
    color: green;
    font-weight: bold;
  }

@media screen and (max-width: 600px) {

/* Ota-yhteyttä section */
.ota-yhteyttä {
  background-color: #ECF9FF;
  font-family: 'Zen Antique Soft', sans-serif;
  padding: 17px 0;
}

.ota-yhteyttä h1 {
  font-size: 1.9rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.inputs {
  margin-left: 2rem;
  margin-right: 0px;
}

.inputs input{
  width: 85%;
}

.inputs textarea {
  width: 85%;
}

.button-lähetä {
  margin-left: 2rem;
}

}

