/* src/components/Etusivu.css */
@font-face {
  font-family: 'Zen Antique Soft';
  src: url('../font/ZenAntiqueSoft-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.etusivu {
  font-family: 'Zen Antique Soft', sans-serif;
  background-color: #ECF9FF;
  padding-top: 2rem;
}

.firstpage {
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
}

.image-container {
  flex-shrink: 0;
}

.medical-image {
  width: 100%;
  max-width: 420px;
  border-radius: 30px;
  margin-top: 80px;
}

.text-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.text-container h1 {
  font-size: 3rem;
  width: 80%;
  margin-bottom: 1rem;
  max-width: 450px;
  color: black;
}

.text-container p {
  margin-top: 0;
  width: 100%;
  max-width: 400px;
  color: rgba(130, 130, 151, 1);
}

.kurssit-button {
  font-family: 'Zen Antique Soft', sans-serif;
  background-color: rgba(6, 6, 64, 1);
  margin-top: 15px;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 7rem;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.kurssit-button:hover {
  background-color: rgba(6, 6, 64, 0.8); /* Adjust the color on hover */
}

.frame-container {
  font-family: 'Zen Antique Soft', sans-serif;
  position: relative;
  width: 100%;
  height: 100px;
  max-width: 425px;
  margin-top: 30px;
  padding: 28px;
  background-color: white;
  border-radius: 20px;
}

.frame-container p {
  font-size: 0.95rem;
  text-align: left;
  color: black;
}

.frame-container::before {
  content: '\201C';
  font-size: 2.8rem;
  color: rgba(0, 229, 204, 1);
  position: absolute;
  bottom: 45px;
  left: 10px;
}

/* Palvelumme Section */
.palvelumme {
  margin: 60px 120px;
  text-align: center;
  font-family: 'Zen Antique Soft', sans-serif;
}

.palvelumme h1 {
  margin-top: 3rem;
  font-size: 2.8rem;
  color: black;
}
.palvelumme h1::after {
  content: "";
  display: block;
  border-bottom: 5px solid #ECF9FF; /* Width (2px in this example) and color */
  width: 50%; /* Adjust the length (width) as a percentage or other valid CSS width value */
  position: absolute;
  left: 25%;
  border-radius: 15px; 
}

.icon-frame {
  background-color: rgba(236, 249, 255, 0.8);
  border-radius: 10px;
  width: 3.6rem;
  height: 3.5rem;
}

.card-logo {
  margin-top: 0.7rem;
  margin-left: 0.5rem;
  font-size: 2rem;
  color: rgba(79, 93, 115, 1);
  width: 40px;
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.server-card {
  margin: 0 10px;
  width: calc(33.33% - 20px);
  margin-top: 40px;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: left;
}

.server-card h2 {
  margin-top: 2.2rem;
  font-size: 1.5rem;
  color: black;
}

.server-card p {
  font-size: 1.15rem;
  color: rgba(130, 130, 151, 1);
  margin-top: 0;
}

/* Aikajana Section */
.aikajana-small {
  display: none;
}
.aikajana {
  background-color: #ECF9FF;
  font-family: 'Zen Antique Soft', sans-serif;
  padding-bottom: 1rem;
}

.aikajana-container {
  text-align: center;
  margin: 60px 120px;
  padding-top: 1rem;
}

.aikajana h1 {
  font-size: 2.8rem;
  color: black;
  margin-bottom: 2.5rem;
}

.aikajana h1::after {
  content: "";
  display: block;
  border-bottom: 5px solid white; /* Width (2px in this example) and color */
  width: 50%; /* Adjust the length (width) as a percentage or other valid CSS width value */
  position: absolute;
  left: 25%;
  border-radius: 15px; 
}

.aikajana p {
  font-size: 1.3rem;
  color: rgba(130, 130, 151, 1);
}

.timeline {
  display: flex;
  justify-content: center;
}

.timeline-item {
  position: relative;
  text-align: center;
  margin: 10px 45px; /* Adjust as needed */
  margin-top: 2rem;
}

.circle {
  position: relative;
  display: inline-block;
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  font-size: 1.6rem; /* Adjust as needed */
}

.percentage {
  font-family: 'Zen Antique Soft', sans-serif;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold; /* Make the text bold */
  color: rgb(124, 216, 255);
}

.year {
  font-family: 'Zen Antique Soft', sans-serif;
  align-items: center;
  justify-content: center;
  padding: 0 5%; /* Adjust as needed for responsiveness */
  font-size: 1.6rem;
  color: rgb(124, 216, 255);
  max-width: 100%; /* Ensure it doesn't overflow on smaller screens */
  margin: 0 22.7px; /* Adjust the margin for space between years */
  font-weight: bold; /* Make the text bold */
  flex-wrap: wrap;
}

.timeline-frame {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 1);
  width: 74%;
  margin-bottom: 5rem;
  padding: 5px;
  border-radius: 10px;
}

/* Lisa Tietoa Section */
.lisa-tietoa {
  text-align: center;
  margin: 60px 120px;
  font-family: 'Zen Antique Soft', sans-serif;
}

.lisa-tietoa h1 {
  font-size: 2.8rem;
  color: black;
  margin-bottom: 1.9rem;
}

.lisa-tietoa h1::after {
  content: "";
  display: block;
  border-bottom: 5px solid #ECF9FF; /* Width (2px in this example) and color */
  width: 50%; /* Adjust the length (width) as a percentage or other valid CSS width value */
  position: absolute;
  left: 25%;
  border-radius: 15px; 
}

.info-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-pic {
  width: 100%; /* Limit the image size to the card's width */
  height: 13rem; /* Maintain the image's aspect ratio */
  border-radius: 15px 15px 0 0;
  mask-image: linear-gradient(to bottom, rgba(236, 249, 255, 0.9), transparent 208px);
}

.info-card {
  height: 30rem;
  font-family: 'Zen Antique Soft', sans-serif;
  margin: 0 10px;
  width: calc(33.33% - 20px);
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: left;
  overflow: hidden; /* Ensure the image stays within the card's frame */
}

.info-card h2 {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.info-card p {
  font-size: 18px;
  color: rgba(130, 130, 151, 1);
  margin-top: 0;
  margin-left: 1rem;
}

.info-card a {
  color: rgb(124, 216, 255); /* Change the link text color */
  margin-left: 1rem;
  border-bottom: 2px solid transparent; /* Add a transparent border-bottom for the line */
  transition: border-color 0.3s; /* Add a smooth transition for the border-color */
  text-decoration: none; /* Remove the default underline */
}

.info-card a:hover {
  border-color: rgb(124, 216, 255); /* Change the border color on hover */
}

@media screen and (max-width: 1200px) {

  .firstpage {
    margin-left: 4rem;
    margin-right: 0;
  }

  .card-container {
    display: block;
    flex-wrap: wrap;
  }

  .server-card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .aikajana-container {
    margin: 8px 8px;
    padding-top: 1rem;
  }

  .aikajana p {
    font-size: 16px;
    color: rgba(130, 130, 151, 1);
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .timeline-item {
    margin: 8px 8px; /* Adjust as needed */
  }

  .timeline-frame {
    width: 80%;
    padding: 2px;
    border-radius: 10px;
  }

  .year {
    margin: 3px 0px; /* Adjust the margin for space between years */
  }

  .info-card-container {
    display: block;
  }

  .info-card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 600px) {

  .etusivu {
    height: 40rem;
  }

  .firstpage {
    margin-left: 2.5rem;
  }

  .medical-image {
    display: none;
  }
  
  .text-container {
    margin-top: 1.5rem;
  }

  .text-container h1 {
    font-size: 1.9rem;
    width: 19rem;
    margin-top: 0;
  }
  
  .text-container p {
    font-size: 0.9rem;
    width: 18rem;
  }
  
  .kurssit-button {
    font-size: 0.7rem;
  }
  
  .frame-container {
    width: 17rem;
  }
  
  .frame-container p {
    font-size: 0.8rem;
    width: 15rem;
  }

  /* Palvelumme section */

  .palvelumme {
    margin: 0px 0px;
  }
  
  .palvelumme h1 {
    font-size: 1.9rem;
    margin-top: 1.5rem;
  }
  
  .palvelumme p {
    font-size: 0.9rem;
  }
  
  .icon-frame {
    background-color: rgba(236, 249, 255, 0.8);
    border-radius: 10px;
    width: 3rem;
    height: 3rem;
  }
  
  .card-logo {
    margin-top: 0.7rem;
    margin-left: 0.3rem;
    font-size: 1.5rem;
    color: rgba(79, 93, 115, 1);
    width: 40px;
    margin-bottom: 10px;
  }
  
  .card-container {
    display: block;
    flex-wrap: wrap;
  }

  .server-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .server-card h2 {
    font-size: 1.3rem;
  }

  .server-card p {
    font-size: 16px;
  }

  /* Aikajana Section */
  .aikajana {
    display: none;
  }
  /* Timeline Section */
  .aikajana-small {
    margin-top: 3rem;
    display: block;
    background-color: #ECF9FF;
    font-family: 'Zen Antique Soft', sans-serif;
    padding-bottom: 1rem;
    height: 29.8rem;
  }

  .aikajana-container-small {
    text-align: center;
    padding-top: 0.5rem;
  }

  .aikajana-small h1 {
    font-size: 1.9rem;
    color: black;
    margin-bottom: 1.5rem;
  }

  .aikajana-small h1::after {
    content: "";
    display: block;
    border-bottom: 5px solid white; /* Width (2px in this example) and color */
    width: 60%; /* Adjust the length (width) as a percentage or other valid CSS width value */
    position: absolute;
    left: 20%;
    border-radius: 15px;  
  }

  .aikajana-small p {
    font-size: 16px;
    color: rgba(130, 130, 151, 1);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .timeline-small {
    display: flex;
    justify-content: center;
  }

  .timeline-item-small {
    position: relative;
    text-align: center;
    margin: 15px 0px; /* Adjust as needed */
  }

  .circle-small {
    position: relative;
    display: inline-block;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    font-size: 1.6rem; /* Adjust as needed */
  }

  .percentage-small {
    font-family: 'Zen Antique Soft', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold; /* Make the text bold */
    color: rgb(124, 216, 255);
  }

  .year-small {
    font-family: 'Zen Antique Soft', sans-serif;
    align-items: center;
    justify-content: center;
    padding: 0 5%; /* Adjust as needed for responsiveness */
    font-size: 1.6rem;
    color: rgb(124, 216, 255);
    max-width: 100%; /* Ensure it doesn't overflow on smaller screens */
    margin: 0 22.7px; /* Adjust the margin for space between years */
    font-weight: bold; /* Make the text bold */
    flex-wrap: wrap;
  }

  .timeline-frame-small {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 1);
    width: 30%;
    margin-bottom: 1rem;
    padding: 3px;
    border-radius: 10px;
  }

  .arrow-left, .arrow-right {
    font-size: 1.6rem;
    color: rgba(130, 130, 151, 1);
    cursor: not-allowed; 
    justify-content: space-between;
    margin: 0.5rem 10px;
  }

  .arrow-left:hover, .arrow-right:hover {
    color: rgba(130, 130, 151, 1); /* Set the normal color on hover */
    cursor: pointer; /* Change the cursor to a pointer on hover */
  }
  

  /* Lisätietoa section */
  .lisa-tietoa {
    margin: 0px 0px;
  }

  .lisa-tietoa h1 {
    font-size: 1.9rem;
  }
  
  .info-card-container {
    display: block;
    flex-wrap: wrap;
  }
  
  .info-card {
    margin-top: 2.5rem;
    width: 90%;
    height: 28rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .info-card h2 {
    font-size: 1.3rem;
  }
  
  .info-card p {
    font-size: 16px;
  }
}

@media (min-width: 883px) and (max-width: 1110px) {

.medical-image {
  max-width: 293px;
  border-radius: 30px;
  margin-top: 80px;
  height: 28.9rem;
}
  
.text-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  font-family: 'Zen Antique Soft', sans-serif;
}
  
.text-container h1 {
  font-size: 2rem;
  width: 100%;
  margin-bottom: 1rem;
  max-width: 350px;
  color: black;
}
  
.text-container p {
  margin-top: 0;
  width: 100%;
  max-width: 300px;
  color: rgba(130, 130, 151, 1);
}

.frame-container {
  position: relative;
  /* Make the container a positioning context */
  width: 100%;
  height: 100px;
  max-width: 300px;
  /* Adjust as needed */
  margin-top: 30px;
  /* Adjust spacing as needed */
  padding: 25px;
  background-color: white;
  border-radius: 20px;
}

.frame-container p {
  font-size: 0.8rem;
  /* Adjust font size as needed */
  text-align: left;
  color: black;
  margin-left: 20px;
  /* Adjust text color as needed */
  font-family: 'Zen Antique Soft', sans-serif;
  /* Add font-family */
}

/* Quote icon */
.frame-container::before {
  content: '\201C';
  /* Unicode for left double quotation mark */
  font-size: 2.5rem;
  color: rgba(0, 229, 204, 1);
  position: absolute;
  bottom: 45px;
  left: 10px;
}
}

@media (max-width: 882px) {
  .image-container {
    display: none;
  }
}