@font-face {
  font-family: 'Zen Antique Soft';
  src: url('../font/ZenAntiqueSoft-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
* {
  box-sizing: border-box;
}
.kurssitsivu {
  font-family: 'Zen Antique Soft', sans-serif;
  background-color: #ECF9FF;
  padding-top: 6rem;
}

.kurssit {
  text-align: center;
  margin: 60px 120px;
  font-family: 'Zen Antique Soft', sans-serif;
}

.kurssit h1 {
  font-size: 2.8rem;
  color: black;
  margin-bottom: 1.9rem;
}

.kurssit h1::after {
  content: "";
  display: block;
  border-bottom: 5px solid white; /* Width (2px in this example) and color */
  width: 50%; /* Adjust the length (width) as a percentage or other valid CSS width value */
  position: absolute;
  left: 25%;
  border-radius: 15px; 
}

.kurssi-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kurssi-card-pic {
  width: 100%; /* Limit the image size to the card's width */
  height: 13rem; /* Maintain the image's aspect ratio */
  border-radius: 15px 15px 0 0;
  mask-image: linear-gradient(to bottom, rgba(236, 249, 255, 0.9), transparent 208px);
}

.kurssi-card {
  height: 31.5rem;
  font-family: 'Zen Antique Soft', sans-serif;
  margin: 0 10px;
  width: calc(33.33% - 20px);
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: left;
  overflow: hidden; /* Ensure the image stays within the card's frame */
}

.kurssi-card-small {
  height: 27rem;
  font-family: 'Zen Antique Soft', sans-serif;
  margin: 0 10px;
  width: calc(33.33% - 20px);
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: left;
  overflow: hidden; /* Ensure the image stays within the card's frame */
}

.kurssi-header {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Vertically align items */
}

.kurssi-header h2 {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.kurssi-header p {
  margin-top: 1.37rem;
  font-size: 16px;
  color: rgba(6, 6, 64, 1);
  margin-left: 1.6rem;
}

.kurssi-header1 {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Vertically align items */
}

.kurssi-header1 h2 {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.kurssi-header1 p {
  margin-top: 1.37rem;
  font-size: 16px;
  color: rgba(6, 6, 64, 1);
  margin-left: 7.8rem;
}

.kurssi-text p {
  margin-top: 0rem;
  font-size: 17px;
  color: rgba(130, 130, 151, 1);
  margin-left: 1rem;
}

.p-with-dots::before {
  content: '\2022'; /* Unicode character for a bullet (dot) */
  color: rgba(6, 6, 64, 1); /* Dot color */
  font-size: 1rem; /* Adjust the dot size as needed */
  margin-right: 0.5rem; /* Adjust the spacing between the dot and the text */
}

.ilmottaudu-button-container {
  display: flex;
  align-items: center; /* Align children vertically center */
  margin-top: 1.5rem;
}

.price-label {
  font-family: 'Zen Antique Soft', sans-serif;
  margin-right: 7rem; /* Add space between the price and the button */
  margin-left: 3rem;
  font-size: 26px;
  color: rgba(0, 229, 204, 1);
}

.ilmottaudu-button {
  width: 17rem;
  justify-content: flex-end; /* Move the button to the right */
  font-family: 'Zen Antique Soft', sans-serif;
  background-color: rgba(6, 6, 64, 1);
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 7rem;
  transition: background-color 0.3s; /* Smooth transition for background color */
}
.ilmottaudu-button:hover {
  background-color: rgba(6, 6, 64, 0.8); /* Adjust the color on hover */
}

/* Small version of cards Section */

.kurssi-card-small {
  height: 27rem;
  font-family: 'Zen Antique Soft', sans-serif;
  margin: 0 10px;
  width: calc(33.33% - 20px);
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: left;
  overflow: hidden; /* Ensure the image stays within the card's frame */
}

.ilmottaudu-button-container-small {
  display: flex;
  align-items: center; /* Align children vertically center */
  margin-top: 1.5rem;
}

.price-label-small {
  font-family: 'Zen Antique Soft', sans-serif;
  margin-right: 7rem; /* Add space between the price and the button */
  margin-left: 4rem;
  font-size: 26px;
  color: rgba(0, 229, 204, 1);
}

.ilmottaudu-button-small {
  width: 17rem;
  justify-content: flex-end; /* Move the button to the right */
  font-family: 'Zen Antique Soft', sans-serif;
  background-color: rgba(6, 6, 64, 1);
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 7rem;
  transition: background-color 0.3s; /* Smooth transition for background color */
}
.ilmottaudu-button-small:hover {
  background-color: rgba(6, 6, 64, 0.8); /* Adjust the color on hover */
}

/* Enrollment Form Section */
.enrollment-overlay {
  font-family: 'Zen Antique Soft', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100; /* Set a lower z-index value than the navbar */

}

.enrollment-form {
  font-family: 'Zen Antique Soft', sans-serif;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  max-width: 400px;
  width: 100rem;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.enrollment-form h1::after {
  content: "";
  display: block;
  border-bottom: 5px solid #ECF9FF; /* Width (2px in this example) and color */
  width: 75%; /* Adjust the length (width) as a percentage or other valid CSS width value */
  position: absolute;
  left: 12.7%;
  border-radius: 15px;
}

.enrollment-form h2 {
  font-size: 24px;
}

.enrollment-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enrollment-form input {
  font-family: 'Zen Antique Soft', sans-serif;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 15px;
}

/* Style for the custom dropdown */
.tutkinto-dropdown {
  position: relative;
  width: 100%;
}

.tutkinto-dropdown input {
  font-family: 'Zen Antique Soft', sans-serif;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.tutkinto-dropdown::after {
  content: "▼"; /* Down arrow character */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.milloin-dropdown {
  position: relative;
  width: 100%;
}

.milloin-dropdown input {
  font-family: 'Zen Antique Soft', sans-serif;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.milloin-dropdown::after {
  content: "▼"; /* Down arrow character */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.options-list {
  font-family: 'Zen Antique Soft', sans-serif;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  z-index: 1;
}

.options-list div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options-list div:hover {
  background-color: #f0f0f0;
  border-radius: 15px;
}

.option {
  font-family: 'Zen Antique Soft', sans-serif;
  cursor: pointer; /* Example style: change cursor on hover */
}

.submit-button {
  font-family: 'Zen Antique Soft', sans-serif;
  background-color: rgba(6, 6, 64, 1);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.submit-button:hover {
  background-color: rgba(6, 6, 64, 0.8); /* Adjust the color on hover */
}

.success-message {
  font-family: 'Zen Antique Soft', sans-serif;
  background: #2ecc71;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.error-message {
  font-family: 'Zen Antique Soft', sans-serif;
  color: #ff0000; /* Red text color for error messages */
  font-size: 14px; /* Adjust the font size as needed */
  margin-top: 5px; /* Spacing from the input fields */
  margin-bottom: 5px;
}


@media screen and (max-width: 600px) {
.kurssit {
  margin: 0px 0px;
}

.kurssit h1 {
  font-size: 1.9rem;
  margin-bottom: 0rem;
}

.kurssit h1::after {
  left: 24%;
}

.kurssi-card-container {
  display: block;
}

.kurssi-card {
  margin-top: 2.5rem;
  width: 90%;
  height: 30.3rem;
  margin-left: auto;
  margin-right: auto;
}

.kurssi-header h2 {
  font-size: 1.3rem;
}

.kurssi-header p {
  font-size: 14px;
  margin-left: 1.5rem;
}

.kurssi-header1 h2 {
  font-size: 1.3rem;
}

.kurssi-header1 p {
  margin-left: 6.83rem;
  font-size: 14px;
}

.kurssi-text p {
  font-size: 16px;
}

.price-label {
  margin-right: 5rem; /* Add space between the price and the button */
  margin-left: 3rem;
  font-size: 25px;
}

/* Small version of cards Section */
.kurssi-card-small {
  margin-top: 2.5rem;
  width: 90%;
  height: 26rem;
  margin-left: auto;
  margin-right: auto;
}

.price-label-small {
  margin-right: 5.5rem; /* Add space between the price and the button */
  margin-left: 3rem;
  font-size: 25px;
}

/* Enrollment Form Section */
.enrollment-form {
  width: 22rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.enrollment-form h1::after {
  content: "";
  display: block;
  border-bottom: 5px solid #ECF9FF; /* Width (2px in this example) and color */
  width: 80%; /* Adjust the length (width) as a percentage or other valid CSS width value */
  position: absolute;
  left: 10.3%;
  border-radius: 15px;
}

.enrollment-form h2 {
  font-size: 20px;
}

/* Style for the custom dropdown */
.tutkinto-dropdown {
  position: relative;
  width: 100%;
  font-size: 16px;
}

.options-list div {
  padding: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
}

}