@font-face {
    font-family: 'Zen Antique Soft';
    src: url('../font/ZenAntiqueSoft-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    box-sizing: border-box;
  }
  .kurssitsivu {
    background-color: #ECF9FF;
  }
  
  .kurssit {
    font-family: 'Zen Antique Soft', sans-serif;
    background-color: #ECF9FF;
    padding-top: 2rem;
    height: 10rem;
  }
.kurssiotsikko {
margin-left: 40px;
}
.box {
  width: 30rem;
  height: 40rem;
  color: black;
  margin: 40px;
  border-radius: 20px;
  background-color: white;
}
.box2 {
  width: 30rem;
  height: 40rem;
  color: black;
  line-height: 100px;
  margin: 40px;
  cursor: pointer;
  display: inline-block;
  background-color: white;
}
.box3 {
  width: 30rem;
  height: 40rem;
  color: black;
  line-height: 100px;
  margin: 40px;
  cursor: pointer;
  display: inline-block;
  background-color: white;
}
.box4 {
  width: 30rem;
  height: 40rem;
  color: black;
  line-height: 100px;
  margin: 40px;
  cursor: pointer;
  display: inline-block;
  background-color: white;
}
.box5 {
  width: 30rem;
  height: 40rem;
  color: black;
  line-height: 100px;
  margin: 40px;
  cursor: pointer;
  display: inline-block;
  background-color: white;
}
.box6 {
  width: 30rem;
  height: 40rem;
  color: black;
  line-height: 100px;
  margin: 40px;
  cursor: pointer;
  display: inline-block;
  background-color: white;
}
.row {
  display: flex;
  justify-content: center;
}
.otsikko {
  margin-left: 20px;
}
.kuva {
  max-width: 80%;
  padding-left: 80px;
  padding-top: 10px;
}

.info-button {
  font-family: 'Zen Antique Soft', sans-serif;
  background-color: rgba(6, 6, 64, 1);
  margin-left: 0px;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.hinta {
  font-size: 60px;
  color: aqua;
  margin-left: 10px;
}


.box span {
  padding-left: 25px;
}
.kurssiotsikko {
  font-weight: bold;
  font-size: 20px;
}

.teksti {
  margin-top: 50px;
  padding-left: 10%;
  line-height: normal;
}

.luelisää {
  padding-top: 13rem;
  text-align: center;
}

span {
margin-right: 100px;

}

.teksti1 {
  margin-left: 10px;
  font-size: 20px;
font-weight: bolder;
}
.teksti2 {
  margin-right: 70px;
  font-size: 12px;
}

.info-container {
  display: flex;
  margin-top: 200px;
}