
  .screen {
    max-width: 1433px;
    max-height: 891px;
    margin: 0 auto;
  }
  
  .romania {
    font-family: 'Zen Antique Soft', sans-serif;
    background-color: #ECF9FF;
    padding-top: 6rem;
    height: 57em;
    max-width: 100%;
  }

  .romania-main {
    text-align: center;
    margin: 60px 120px;
    font-family: 'Zen Antique Soft', sans-serif;
  }

  .romania-main h1{
    font-size: 2.8rem;
    color: rgba(6, 6, 64, 1);
    margin-bottom: 1.9rem;
  }

  .romania-main h1::after {
    content: "";
    display: block;
    border-bottom: 5px solid white; /* Width (2px in this example) and color */
    width: 50%; /* Adjust the length (width) as a percentage or other valid CSS width value */
    position: absolute;
    left: 25%;
    border-radius: 15px; 
  }

  .romania-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }

  .romania-card {
    width: 90%;
    height: 37rem;
    font-family: 'Zen Antique Soft', sans-serif;
    margin-top: 5px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: left;
    overflow: hidden; /* Ensure the image stays within the card's frame */
  }

  .romania-card-pic {
    width: 100%; /* Limit the image size to the card's width */
    height: 20rem; /* Maintain the image's aspect ratio */
    border-radius: 15px 15px 0 0;
    mask-image: linear-gradient(to bottom, rgba(236, 249, 255, 1), transparent 20rem);
  }

  .outside-romania {
    font-family: 'Zen Antique Soft', sans-serif;
    display: flex;
    background-color: #fff;
    margin-top: 0.8rem;
  }
  
  .lääketiede-romania-text {
    flex: 1; /* Takes up 50% of the available space */
    padding: 10px; /* Add padding to both sides */
    text-align: left; /* Align text to the left within the sections */
  }

  .tentti-romania-text {
    flex: 1; /* Takes up 50% of the available space */
    padding: 10px; /* Add padding to both sides */
    border-left: 1px solid #ddd; /* Add a border to both sides */
    text-align: left; /* Align text to the left within the sections */
  }
  
  .lääketiede-romania-text h2 {
    color: rgba(6, 6, 64, 1);
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 1rem;
  }

  .tentti-romania-text h2 {
    color: rgba(6, 6, 64, 1);
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 1rem;
  }
  
  .lääketiede-romania-text p {
    color: #555;
    margin-bottom: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .tentti-romania-text p {
    color: #555;
    margin-bottom: 20px;
    margin-left: 1rem;
  }
  
  .lääketiede-romania-text a {
    color: rgb(124, 216, 255); /* Change the link text color */
    border-bottom: 2px solid transparent; /* Add a transparent border-bottom for the line */
    transition: border-color 0.3s; /* Add a smooth transition for the border-color */
    text-decoration: none; /* Remove the default underline */
    margin-left: 1rem;
  }
  
  .lääketiede-romania-text a:hover {
    border-color: rgb(124, 216, 255); /* Change the border color on hover */
  }
  .tentti-romania-text a {
    margin-left: 1rem;
    color: rgb(124, 216, 255); /* Change the link text color */
    border-bottom: 2px solid transparent; /* Add a transparent border-bottom for the line */
    transition: border-color 0.3s; /* Add a smooth transition for the border-color */
    text-decoration: none; /* Remove the default underline */
  }
  
  .tentti-romania-text a:hover {
    border-color: rgb(124, 216, 255); 
  }


/* Vapaa aika Section */
  .vapaa-aika {
    font-family: 'Zen Antique Soft', sans-serif;
    background-color: #ECF9FF;
  }

  .centered-header {
    text-align: center;
  }

  .centered-header h1 {
    font-size: 2.8rem;
    margin-top: 0rem;
    padding-top: 1rem;
    color: rgba(6, 6, 64, 1);
    margin-bottom: 20px; 
  }

  .centered-header h1::after {
    content: "";
    display: block;
    border-bottom: 5px solid #fff; /* Width (2px in this example) and color */
    width: 50%; /* Adjust the length (width) as a percentage or other valid CSS width value */
    position: absolute;
    left: 25%;
    border-radius: 15px; 
  }

  .vapaa-aika-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 3rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .vapaa-aika-text {
    margin-left: 2rem;
  }

  .vapaa-aika-text h2 {
    font-size: 28px;
    margin-bottom: 15px; 
    color: rgba(6, 6, 64, 1);
  }

  .vapaa-aika-text p{
    width: 90%;
    color: #555;
    font-size: 17px; 
  }

  .vapaa-aika-image {
    width: 450px;
    height: 300px;
}

.loma-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 20rem;
}

.loma-text {
  margin-left: 3rem;
  width: 65%;
}

.loma-text h2 {
  font-size: 28px;
  margin-bottom: 15px; 
  color: rgba(6, 6, 64, 1);
}


.loma-text p{
  width: 90%;
  color: #555;
  font-size: 22px; 
}

.loma-image {
  width: 480px;
  height: 400px;
}

.harrastus-content {
  display: block;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.harrastus-text {
  text-align: center;
}

.harrastus-text h2 {
  font-size: 24px;
  color: rgba(6, 6, 64, 1);
  margin-bottom: 15px; 
}

.harrastus-text p{
  color: #555;
  font-size: 16px; 
}

.show-form-button {
  font-family: 'Zen Antique Soft', sans-serif;
  background-color: rgba(6, 6, 64, 1);
  margin-top: 8px;
  margin-bottom: 15px;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10rem;
  max-width: 10rem;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1300;
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1350;
  border-radius: 15px;
}

.x-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
  cursor: pointer;
}

.myForm {
  font-family: 'Zen Antique Soft', sans-serif;
}

.myForm .content-wrapper {
  display: flex;
  justify-content: space-between;
}

.myForm h1 {
  text-align: center;
  font-size: 24px;
  margin: 10px 0;
  color: rgba(6, 6, 64, 1);
}

/* Style for the text inside the form */
.myForm p {
  margin-top: 2rem;
  font-size: 16px;
  color: #555;
  width: 50%;
}

.myForm .additional-content {
  width: 45%;
}

.additional-content p {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .romania {
    padding-top: 7rem;
    height: 57em;
  }

  .romania-main {
    margin: 0px 0px;
  }

  .romania-main h1{
    font-size: 1.9rem;
    margin-bottom: 1.2rem;
  }

  .romania-card-container {
    display: flex;
  }

  .romania-card {
    margin-left: auto;
    margin-right: auto;
    width: 91%;
    height: 45.5rem;
  }

  .romania-card-pic {
    height: 100%;
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(236, 249, 255, 1), transparent 100%);
  }

  .outside-romania {
    display: block;
    margin-top: 0rem;
  }
  
  .lääketiede-romania-text {
    padding: 7px; /* Add padding to both sides */
    text-align: left; /* Align text to the left within the sections */
    margin-bottom: 1rem;
  }

  .tentti-romania-text {
    padding: 7px; /* Add padding to both sides */
    border-left: 0px solid #ddd; /* Add a border to both sides */
    border-top: 1px solid #ddd; /* Add a border to both sides */
  }
  
  .lääketiede-romania-text h2 {
    font-size: 22px;
  }

  .tentti-romania-text h2 {
    font-size: 22px;
    margin-top: 1rem;
  }
  
  .lääketiede-romania-text p {
    color: #555;
    margin-bottom: 16px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .tentti-romania-text p {
    color: #555;
    margin-bottom: 16px;
    margin-left: 1rem;
  }

  .vapaa-aika {
    padding-top: 2.5rem;
    overflow: hidden;
  }

  .centered-header h1 {
    font-size: 1.9rem;
  }

  .centered-header p {
    font-size: 16px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .vapaa-aika-content {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
  }

  .vapaa-aika-text {
    margin-left: 1.5rem;
  }

  .vapaa-aika-text h2 {
    font-size: 20px;
  }

  .vapaa-aika-text p{
    width: 95%;
    font-size: 15px; 
    margin-bottom: 1.5rem;
  }

  .vapaa-aika-image {
    width: 100%;
    height: auto;
}

.loma-content {
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
  height: 15rem;
}

.loma-text {
  margin-left: 1.5rem;
  width: 95%;
}

.loma-text h2 {
  font-size: 20px;
}

.loma-text p{
  font-size: 16px; 
}

.loma-image {
  display: none;
}

.harrastus-content {
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
}

.harrastus-text {
  margin-left: 1rem;
  margin-right: 1rem;
}

.harrastus-text h2 {
  font-size: 18px;
}


.harrastus-text p{
  color: #555;
  font-size: 16px; 
}

.show-form-button {
  margin-top: 3px;
  padding: 0.6rem;
  width: 7rem;
  max-width: 7rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1300;
}

.form-container {
  width: 90%;
  height: 80%;
  overflow: scroll;
}

.x-button {
  font-size: 30px;
}

.myForm .content-wrapper {
  display: block;
}

.myForm h1 {
  font-size: 20px;
}

/* Style for the text inside the form */
.myForm p {
  margin-top: 2rem;
  font-size: 15px;
  width: 100%;
}

.myForm .additional-content {
  width: 100%;
}

.additional-content p {
  width: 100%;
}

}
    