.carousel-container {
    font-family: 'Zen Antique Soft', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 7rem;
    margin-right: 7rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .header {
    font-size: 28px;
    margin-top: 20px;
  }
  
  .video-container-small {
    position: relative;
    margin: 3rem auto;
  }

  .video-container-small iframe {
    width: 289px;
    height: 176px;
    border-radius: 15px;
  }
  
  .arrow-icon {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .left-arrow {
    right: 350px;
  }
  
  .right-arrow {
    left: 350px;
  }
  