  .yhteistiedot {
    font-family: 'Zen Antique Soft', sans-serif;
    background-color: #ECF9FF;
    padding-top: 2rem;
    height: 50rem;
  }

  .yhteistiedot-main {
    text-align: center;
    margin: 120px 120px;
    font-family: 'Zen Antique Soft', sans-serif;
  }

  .yhteistiedot-main .contact-image {
    display: none;
  }

  .yhteistiedot-main .ota-yhteyttä form {
    margin-top: 4rem;
  }

  .yhteistiedot-main .company-info {
    position: absolute;
    bottom: 130px;
    right: 160px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    height: 20rem;
  }

  @media screen and (max-width: 768px) {
    .yhteistiedot-main .company-info {
        position: relative; /* Change to relative positioning on smaller screens */
        bottom: auto; /* Reset the bottom position */
        right: auto; /* Reset the right position */
        width: 100%; /* Make it full-width on smaller screens */
        height: auto; /* Allow the height to adjust based on content */
    }
}

